post/index.jade
extends ./layout.jade

block title
  title Home

block content
    h1 Hi! Care to see your spending today?    
    .form-group
      label.control-label 
        h3 Type amount spent here
      .input-group
        span.input-group-addon $
        input.form-control(type="text")
    #buttons
    #chosen.progress(style="width:90%; height: 6em")
    #total
    br
    .btn.btn-lg.btn-default.edit
      span.fa.fa-pencil-square-o
      | Edit
    .btn.btn-lg.btn-default.reset
      span.fa.fa-eraser
      | Reset
    
block scripts
  script(src="js/main.mini.js")

index.html
<!DOCTYPE html5>
<html>
  <head> 
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
  </head>
  <title>Home</title>
  <body>
    <link href="./css/bootstrap.min.css" rel="stylesheet"/>
    <link href="./css/font-awesome.min.css" rel="stylesheet"/>
    <link href="./css/custom.css" rel="stylesheet"/>
    <!--This is where our main content is inserted into.-->
    <div class="content">
      <h1>Hi! Care to see your spending today?    </h1>
      <div class="form-group">
        <label class="control-label"> 
          <h3>Type amount spent here</h3>
        </label>
        <div class="input-group"><span class="input-group-addon">$</span>
          <input type="text" class="form-control"/>
        </div>
      </div>
      <div id="buttons"></div>
      <div id="chosen" style="width:90%; height: 6em" class="progress"></div>
      <div id="total"></div><br/>
      <div class="btn btn-lg btn-default edit"><span class="fa fa-pencil-square-o"></span>Edit</div>
      <div class="btn btn-lg btn-default reset"><span class="fa fa-eraser"></span>Reset</div>
    </div>
    <div class="footer"> 
      <h5>Made in bootstrap</h5>
    </div>
    <!--Utility scripts-->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.mini.js"></script>
  </body>
</html>
